body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-size: 1rem;
    color: #ffffff;
    background: #232529;
    margin: 0;
}

.page-header {
    font-size: 1.5rem;
    text-align: center;
}

.title {
    margin-right: 0.5rem;
}

.message-container {
    max-width: 600px;
    margin: 1rem;
    padding-left: 1.5rem;
}

.message-container > li {
    padding: 1rem;
    padding-left: 0;
}